<!-- <h1>{{title}}</h1> 
<div class="row">
<div class="col-md-12">
 <div class="input-group">
   <div class="input-group-btn">
     <button type="button" (click)="nameSearch()" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
       Channel List
     </button>
     <div class="dropdown-menu">
         <ul>
             <li *ngFor="let i of news" (click)="onSelect(i.id)"  id={{i.id}}  ><button>{{i.name}}</button></li>

         </ul>

     </div>
   </div>
 </div>
</div> 
</div> -->



 
<nav class="navbar navbar-toggleable-md navbar-inverse fixed-top bg-inverse">

      <div class="row">
<div class="col-md-12">
 <div class="input-group">
   <div class="input-group-btn">
     <button type="button" (click)="nameSearch()" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
       Channel List
     </button>
     <div class="dropdown-menu">
         <ul>
             <li *ngFor="let i of news" (click)="onSelect(i.id)"><button>{{i.name}}</button></li>
         </ul>

     </div>
   </div>
 </div>
</div> 
</div>
    </nav>
    <br><hr>

<div *ngFor="let item of data" >
      <div class="row">
        <div class="col-md-4">
            <h2>{{item.title}}</h2>
            <p> {{item.description}} </p>
            <p><img src={{item.urlToImage}} class="img-fluid" alt=""></p>
            <p>{{item.author}}</p>
            <button >Add To Favourite</button>
          <hr>
      </div>

        </div>
       </div> 
<!-- 
<!DOCTYPE html>
<html lang="en">
  <head> -->
    <!-- Required meta tags -->
    <!-- <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
 -->
    <!-- Bootstrap CSS -->
<!--     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
  </head>
   <body>

    <nav class="navbar navbar-toggleable-md navbar-inverse fixed-top bg-inverse">

      <div class="row">
<div class="col-md-12">
 <div class="input-group">
   <div class="input-group-btn">
     <button type="button" (click)="nameSearch()" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
       Channel List
     </button>
     <div class="dropdown-menu">
         <ul>
             <li *ngFor="let i of news" (click)="onSelect(i.id)"><button>{{i.name}}</button></li>
         </ul>

     </div>
   </div>
 </div>
</div> 
</div>


    </nav> -->

    <!-- Main jumbotron for a primary marketing message or call to action -->
<!--     <div class="jumbotron">
      <div class="container"><br />
       
        <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more &raquo;</a></p>
      </div>
    </div>

    <div class="container">
 -->      <!-- Example row of columns -->
 <!--      <div *ngFor="let item of data.articles" >
      <div class="row">
        <div class="col-md-4">
            <h2>{{item.title}}</h2>
            <p> {{item.description}} </p>
            <p><img src={{item.urlToImage}} class="img-fluid" alt=""></p>
            <p>{{item.author}}</p>
            <button >Add To Favourite</button>
          <hr>
      </div>

        </div>
       </div>
      <hr>
      <footer>
        <p align= "center">&copy; Buzz 2017</p>

      </footer>
    </div> --> <!-- /container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
<!--     <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
    <script src="../../dist/js/bootstrap.min.js"></script>
 -->    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<!--     <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
  </body>
</html> -->