<div class="container-fluid">
  <div class="row">
			<div class="col-md-3" style="font-weight: bold;font-size: 30px;">Title</div>
			<div class="col-md-3" style="font-weight: bold;font-size: 30px;">Image</div>
			<div class="col-md-3" style="font-weight: bold;font-size: 30px;">Description</div>
			<div class="col-md-3" style="font-weight: bold;font-size: 30px;">Author</div>   
			<div *ngFor = "let disp of data" >
				<app-favourite-list [dispdata]="disp"></app-favourite-list>
			</div>	
  </div>  	
</div>

